.data-search-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-box:focus {
  box-shadow: none;
}

.search-box-container {
  width: 600px;
  margin-top: 10px;
}

.search-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 300px;
  padding-bottom: 70px;
}

.search-card-header {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.search-dropdown {
  position: fixed;
  width: 400px;
}

.search-dropdown-item {
  height: 50px;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.tab {
  outline: none;
}
